<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Tenant Mngt</title>
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <h1>Tenants App</h1>
      </a>
    </div>
    <ul>
      <li><a href="/tenants/add">Tenants</a></li>
    </ul>
  </nav>

  <h3>Enter new tenant details</h3>
  <form action="/tenants" method="post">
    <label for="name">Enter name</label>
    <input type="text" name="name" id="name">
    <label for="email">Enter email</label>
    <input type="email" name="email" id="email">
    <label for="phone">Enter phone number</label>
    <input type="tel" name="phone" id="phone">
    <label for="id">Enter National ID no./Passport no.</label>
    <input type="number" name="passport_id" id="id">
    <label for="house_no">Enter house number</label>
    <input type="text" name="house_no" id="house_no">
    <label for="floor">Enter the floor living in</label>
    <input type="number" name="floor_no" id="floor">
    <label for="status">Select rent status</label>
    <select name="status" id="status">
      <option value="pain">Paid</option>
      <option value="Pending">Pending</option>
    </select>
    <input type="submit">
  </form>
</body>

</html>