<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Tenant Mngt</title>
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <h1>Tenants App</h1>
      </a>
    </div>
    <ul>
      <li><a href="/floorss">Floors</a></li>
      <li><a href="/tenantss">Tenants</a></li>
    </ul>
  </nav>

  <h3>Enter the floor's details</h3>
  <form>
    <label for="name">Enter floor name</label>
    <input type="text" name="name" id="name">
    <label for="count">Enter the number of houses</label>
    <input type="number" name="house_count" id="count">
    <label for="rent">Enter the rent range for this floor</label>
    <input type="text" name="rent" id="rent">
    <input type="submit">
  </form>
</body>

</html>