<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Tenant Mngt</title>
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <h1>Tenants App</h1>
      </a>
    </div>
    <ul>
      <li><a href="/tenants/create">Add tenants</a></li>
    </ul>
  </nav>


  <div>
    <h3>All Tenants</h3>
    <div>
      <p>id</p>
      <p>name</p>
      <p>phone</p>
      <p>house_no</p>
      <p>status</p>
    </div>
  </div>
</body>

</html>